[Unit]
Description=Python App
After=network.target

[Service]
User=opc
# Environment="PATH=/home/opc/pythonapp/venv/bin:/home/opc/.local/bin:/home/opc/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
Environment="PYTHONUNBUFFERED=TRUE"
WorkingDirectory=/home/opc/pythonapp
ExecStart=/home/opc/pythonapp/app.sh
# StandardOutput=journal+console
# StandardError=journal+console
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target